@media(max-width:860px) {
    header .head img {
        width: 350px;
        height: 300px;
    }
    #about-me #illustration {
        display: none;
      }
}

@media(max-width:800px) {
    
    header {
        padding: 20px;
    }
    
    header .right {
        font-size: 12px;
        left: 50%;
        transform: translateX(-50%);
    }
    #about-me {
        padding: 50px 20px;
        font-size: 16px;
    }
    #about-me #illustration {
        display: none;
    }
    
    .project-img img {
        width: 75%;
        height: 30%;
    }
    .project-img button {
        margin-top: -250px;
    }
}

@media(max-width:750px){
    header .head img {
        width: 300px;
        height: 250px;
    }
}

@media(max-width:660px){
    header{
        background: linear-gradient(15deg, var(--primary-color) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
    }
    
    header .head img {
        display: none;
      }  
}

@media(max-width:320px) {
    
    .project-img img {
        width: 75%;
        height: 10%;
    }
}

@media(max-width:315px) {
    header {
        padding: 5px;
    }
    #about-me {
        padding: 40px 10px;
        font-size: 12px;
    }
    
    .project-img img {
        width: 75%;
        height: 10%;
    }
    .project-img button {
        margin-top: -100px;
    }
}
