* {
  font-family: 'Quicksand', sans-serif;
  ;
}

body {
  /*--primary-color: rgb(8, 49, 86);
  --secondary-color: rgb(28, 170, 143);
  --primary-color: #103070; */
  /*    --primary-color: #153e90;
      --secondary-color: #54e346;*/
  /*--primary-color: #590995;
  --secondary-color:#03c4a1;*/
  
  /* o mais da hr 00005c */
  --primary-color: #120078 ;
  --secondary-color: #28df99;
  
  /*marsela mostarda
  --primary-color: rgb(88, 29, 34);
  --secondary-color: #ffdb58;*/

  /*--primary-color: #28abb9;
  --secondary-color: #a8dda8;*/

}

header {
  background: var(--primary-color);
  height: 600px;
  padding: 20px 20px 20px 100px;
}

header .right {
  position: relative;
  left: 80%;
  transform: translateX(-50%);
}

header .head {
  font-weight: bold;
  position: relative;
  top: 25%;
}

header .head h1{
  font-family: Poppins;
}

header .head span {
  color: var(--secondary-color);
}

header .head img {
  width: 650px;
  height: 600px;
  position: absolute;
  left: 45%;
  top: -65%;
}

header .head .contact {
  background: var(--secondary-color);
  color: white;
  margin-right: 8px;
}

header .head .contact:hover {
  background: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.a-btn {
  background: var(--primary-color);
  text-decoration: none;
}

#about-me {
  padding: 50px 100px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 24px;
}

#about-me p+p {
  padding: 15px 0;
}

#about-me a {
  color: rgb(161, 161, 161);
  font-weight: bold;
}

#about-me #illustration {
  width: 650px;
  height: 600px;
}

#about-me .networks {
  margin-top: 30px;
}

#about-me .networks img {
  width: 50px;
  height: 50px;
}

#about-me .networks a+a {
  margin: 0 5px 0 30px;
}

#works {
  background: var(--primary-color);
  padding: 60px 20px 50px 20px;
  display: grid;
  place-items: center;
  text-align: center;
}

#works h3{
  color: var(--secondary-color);
  font-family: Quicksand;
  margin-bottom: 20px;
}

#works .slider{
  max-width: 1150px;
  display: flex;
}


#works .slider .custom-card {
  flex: 1;
  object-fit: cover;
  background: var(--secondary-color);
  color: white;
  width: 20rem;
  height: 34rem;
  transition: 400ms;
  cursor: pointer;
  margin: 15px;
  display: flex;
  flex-direction: column;
  
}

#works .slider .custom-card img{
  height: 140px;
}

#works .slider .custom-card p{
  text-align: justify;
}

#works .slider .custom-card a{
  color: rgb(90, 88, 88);
  font-weight: bold;
  position: relative;
  bottom: 3%;
}

#works .custom-card:hover {
  width: 22rem;
  border: solid 5px;
}

.project-img {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.699);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  z-index: 10;
}

.project-img img {
  width: 65%;
  height: 60%;
}

.project-img button {
  position: absolute;
  right: 3%;
  margin-top: -500px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: white;
  background: transparent;
  border: solid 2px white;
  border-radius: 100px;
  outline: none;
  text-align: center;
  transition: 400ms;
}

.project-img button:hover {
  transform: scale(0.8);
}


.hide {
  display: none;
}


@media(max-width:1200px) {
  header .head img {
    width: 450px;
    height: 400px;
    left: 55%;
    top: -45%;
  }
  header .right {
    left: 50%;
  }
  #about-me #illustration {
    width: 450px;
    height: 400px;
  }
}

@media(max-width:1170px) {
  header {
    padding: 60px;
  }
  header .right {
    left: 50%;
    transform: translateX(-50%);
  }
  header .head img {
    display: none;
  }
  #about-me #illustration {
    display: none;
  }
  #works{
    padding: 0;
  }
  #works .slider{
    max-width: 350px;
  }
  .project-img img {
    width: 70%;
    height: 50%;
  }

}

@media(max-width:800px) {
  header {
    padding: 20px;
  }
  header .head img {
    display: none;
  }
  header .right {
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
  #about-me {
    padding: 50px 20px;
    font-size: 16px;
  }
  #about-me #illustration {
    display: none;
  }
  #works{
    padding: 0;
  }
  #works .slider{
    max-width: 350px;
  }
  .project-img img {
    width: 75%;
    height: 30%;
  }
  .project-img button {
    margin-top: -250px;
  }
  @media(max-width:320px) {
    #works{
      padding: 0;
    }
    #works .slider{
      max-width: 320px;
    }
  }
  @media(max-width:315px) {
    header {
      padding: 5px;
    }
    #about-me {
      padding: 40px 10px;
      font-size: 12px;
    }
    #works{
      padding: 0;
    }
    .project-img img {
      width: 75%;
      height: 20%;
    }
    .project-img button {
      margin-top: -100px;
    }
  }
}