*{
  font-family: 'Quicksand', sans-serif;;
}

body{

}

header{
  background: rgb(8, 49, 86);
  height: 600px;
  padding: 20px 20px 20px 100px;
}

header .right{
  position: relative; left: 80%;
  transform: translateX(-50%);
}

header .head{
  font-weight: bold;
  position: relative;
  top: 25%;
}

header .head img{
  width: 650px;
  height: 600px;
  position: absolute;
  left: 45%;
  top: -65%;
}

header .head .contact{
  background: rgb(28, 170, 143);
  color: white;
  margin-right: 8px;
}

header .head .contact:hover{
  background: white;
  color: rgb(28, 170, 143);
  border: 1px solid rgb(28, 170, 143);
}

.a-btn{
  background: rgb(8, 49, 86);
  text-decoration: none;
}

#about-me {
  padding: 50px 100px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 24px;
}

#about-me p+p{
  padding: 15px 0;
}

#about-me a{
  color: rgb(161, 161, 161);
  font-weight: bold;
}

#about-me #illustration{
  width: 650px;
  height: 600px;
}

#about-me .networks{
  margin-top: 30px;
}

#about-me .networks img{

  width: 50px;
  height: 50px;
  
}

#about-me .networks a+a{
  margin: 0 5px 0 30px;
}

#works{
  background: rgb(8, 49, 86);
  padding: 100px 20px;
  height: fit-content;
}

#works .custom-card{
  background:  rgb(28, 170, 143);
  color: white;
}

@media(max-width:1200px){
  header .head img{
    width: 450px;
    height: 400px;
    left: 55%;
    top: -45%;
  }

  header .right{
    left: 50%;
  }
}

@media(max-width:1000px){
  header{

    padding: 60px;
  }

  header .head img{
    display: none;
  }

  header .right{
    left: 50%;
    transform: translateX(-50%);
  }
}

@media(max-width:800px){

  header{
    padding: 20px;
  }

  header .head img{
    display: none;
  }

  header .right{
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
  }

  #about-me {
    padding: 50px 50px;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 18px;
  }

  #about-me #illustration{
    display: none;
  }
}







