*{
  font-family: 'Quicksand', sans-serif;;
}

header{
  background: rgb(8, 49, 86);
  height: 600px;
  padding: 20px;
}

header .head{
  font-weight: bold;
  position: relative;
  top: 25%;
  left: 5%;
}

header .head img{
  width: 650px;
  height: 600px;
  position: absolute;
  left: 45%;
  top: -65%;
}

header .head .contact{
  background: rgb(28, 170, 143);
  color: white;
  margin-right: 8px;
}

header .head .contact:hover{
  background: white;
  color: rgb(28, 170, 143);
  border: 1px solid rgb(28, 170, 143);
}

.a-btn{
  background: rgb(8, 49, 86);
  text-decoration: none;
}

#about-me {
  padding: 50px 100px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 24px;
}

#about-me p+p{
  padding: 15px 0;
}

#about-me a{
  color: rgb(161, 161, 161);
  font-weight: bold;
}

#about-me img{
  width: 650px;
  height: 600px;
}

#about-me .networks{
  margin-top: 30px;
}

#about-me .networks img{

  width: 50px;
  height: 50px;
  
}

#about-me .networks a+a{
  margin: 0 5px 0 30px;
}

#works{
  background: rgb(8, 49, 86);
  height: 600px;
  padding: 20px;
}






